<a href="https://colab.research.google.com/github/tsm-mehmetakiftasoz/tsm_makif/blob/main/B3_audit0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [58]:
!pip install pandas
!pip install xlsxwriter

Requirement already satisfied: pandas in /usr/local/lib/python3.11/dist-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Requirement already satisfied: xlsxwriter in /usr/local/lib/python3.11/dist-packages (3.2.3)

In [59]:
import pandas as pd
import numpy as np
from google.colab import files
from datetime import datetime

In [60]:
def temizle_ve_cevir_2_str(x):
    try:
        return str(int(float(x)))
    except:
        return str(x)

In [61]:
def temizle_ve_cevir_2date(x):
    try:
        return datetime.strptime(x.strip(), "%d.%m.%Y")
    except (ValueError, AttributeError):
        return str(x)

In [62]:
def str_to_float(s):
    if pd.isna(s):
        return None
    return float(s.replace(".", "").replace(",", "."))

In [63]:
#ME2N Raporlarını Yüklemek
df_me2n_2022 = pd.read_csv('/content/ME2N_2022.csv', sep=None, engine='python')
df_me2n_2023 = pd.read_csv('/content/ME2N_2023.csv', sep=None, engine='python')
df_me2n_2024 = pd.read_csv('/content/ME2N_2024.csv', sep=None, engine='python')
df_me2n_2025 = pd.read_csv('/content/ME2N_2025.csv', sep=None, engine='python')

In [64]:
#ilk sutuna yıl yazdırma me2n
df_me2n_2022["Год"] = "2022"
cols = ["Год"] + [col for col in df_me2n_2022.columns if col != "Год"]
df_me2n_2022 = df_me2n_2022[cols]
#
df_me2n_2023["Год"] = "2023"
cols = ["Год"] + [col for col in df_me2n_2023.columns if col != "Год"]
df_me2n_2023 = df_me2n_2023[cols]
#
df_me2n_2024["Год"] = "2024"
cols = ["Год"] + [col for col in df_me2n_2024.columns if col != "Год"]
df_me2n_2024 = df_me2n_2024[cols]
#
df_me2n_2025["Год"] = "2025"
cols = ["Год"] + [col for col in df_me2n_2025.columns if col != "Год"]
df_me2n_2025 = df_me2n_2025[cols]
#

In [65]:

#ME2N DataFrame'leri bir listeye topla
dfs2 = [df_me2n_2022, df_me2n_2023, df_me2n_2024, df_me2n_2025]

# Hepsini birleştir
df_me2n_2022_2025 = pd.concat(dfs2, ignore_index=True)
#df_me2n_2022_2025_ = pd.concat(dfs2, ignore_index=True)
# Kontrol için ilk satırlara bak
#print(df_me2n_2022_2025.tail(5))

In [66]:
#me5a raporunu yüklemek
df_me5a_2022 = pd.read_csv('/content/ME5A_2022.csv', sep=None, engine='python')
df_me5a_2023 = pd.read_csv('/content/ME5A_2023.csv', sep=None, engine='python')
df_me5a_2024 = pd.read_csv('/content/ME5A_2024.csv', sep=None, engine='python')
df_me5a_2025 = pd.read_csv('/content/ME5A_2025.csv', sep=None, engine='python')


# sep=None will automatically detect the delimiter
# engine='python' is slower but more robust for complex cases

In [67]:
#ilk sutuna yıl yazdırma me2n
df_me5a_2022["Год"] = "2022"
cols = ["Год"] + [col for col in df_me5a_2022.columns if col != "Год"]
df_me5a_2022 = df_me5a_2022[cols]
#
df_me5a_2023["Год"] = "2023"
cols = ["Год"] + [col for col in df_me5a_2023.columns if col != "Год"]
df_me5a_2023 = df_me5a_2023[cols]
#
df_me5a_2024["Год"] = "2024"
cols = ["Год"] + [col for col in df_me5a_2024.columns if col != "Год"]
df_me5a_2024 = df_me5a_2024[cols]
#
df_me5a_2025["Год"] = "2025"
cols = ["Год"] + [col for col in df_me5a_2025.columns if col != "Год"]
df_me5a_2025 = df_me5a_2025[cols]
#

In [68]:
#ME2N DataFrame'leri bir listeye topla
dfs3 = [df_me5a_2022, df_me5a_2023, df_me5a_2024, df_me5a_2025]

# Hepsini birleştir
df_me5a_2022_2025 = pd.concat(dfs3, ignore_index=True)
#df_me2n_2022_2025_ = pd.concat(dfs2, ignore_index=True)
# Kontrol için ilk satırlara bak
#print(df_me2n_2022_2025.tail(5))

In [69]:
df_me2n_2022_2025.rename(columns={'﻿Документ закупки': 'Документ_закупки'}, inplace=True)
df_me2n_2022_2025.rename(columns={'Позиция': 'ЗП_Позиция'}, inplace=True)
df_me2n_2022_2025.rename(columns={'Материал': 'Материал_ЗП'}, inplace=True)

In [70]:
sutun_listesi_2str_me2n = ["Документ_закупки","ЗП_Позиция","Закуп. организация","Заявка","Материал_ЗП"]

In [71]:
for s in sutun_listesi_2str_me2n:
    # Apply the robust cleaning and conversion function
    df_me2n_2022_2025[s] = df_me2n_2022_2025[s].apply(temizle_ve_cevir_2_str)

In [72]:
sutun_listesi_str2float_me2n =["Объем заказа","еще поставить (количество)",
                               "Количество в СЕИ","Цена нетто",
                               "СтоимЗаказа нетто","Еще для поставки (стоимость)"
]

In [73]:
for s1 in sutun_listesi_str2float_me2n:
    # Apply the robust cleaning and conversion function
    df_me2n_2022_2025[s1] = df_me2n_2022_2025[s1].apply(str_to_float)

In [74]:
sutun_listesi_str2date_me2n =["Дата документа","Дата поставки"]

In [75]:
for s2 in sutun_listesi_str2date_me2n:
    # Apply the robust cleaning and conversion function
    df_me2n_2022_2025[s2] = df_me2n_2022_2025[s2].apply(temizle_ve_cevir_2date)

In [76]:
df_me5a_2022_2025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351530 entries, 0 to 351529
Data columns (total 38 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Год                   351530 non-null  object
 1   ﻿Заявка               351530 non-null  int64
 2   Позиция заявки        351530 non-null  int64
 3   Материал              351078 non-null  float64
 4   Индикатор удаления    351530 non-null  bool
 5   Затребовал            351524 non-null  object
 6   Индик. выдачи         289876 non-null  object
 7   Дата заявки           351530 non-null  object
 8   Группа закупок        351526 non-null  object
 9   Дата изменения        351530 non-null  object
 10  Заказ на поставку     242202 non-null  float64
 11  Позиция ЗкзНаПостав   351530 non-null  int64
 12  Дата заказа           242202 non-null  object
 13  Долгосрочный договор  1622 non-null    float64
 14  ЗатребованКолич       351530 non-null  object
 15  Заказанное к-во       351530 non-null  object
 16  Единица измерения     351526 non-null  object
 17  RU Наименование       351077 non-null  object
 18  TR Наименование       343809 non-null  object
 19  Инвентарный номер     321615 non-null  object
 20  Краткий текст         351527 non-null  object
 21  Закуп. организация    351519 non-null  float64
 22  Создал                351530 non-null  object
 23  ПоступлМатериала      351530 non-null  object
 24  Поступление счета     351530 non-null  object
 25  Номер проекта         333808 non-null  object
 26  Группа материалов     351526 non-null  object
 27  Дата поставки         351530 non-null  int64
 28  Завод-поставщик       0 non-null       float64
 29  Вид документа         351530 non-null  object
 30  Статус обработки      351530 non-null  object
 31  Индикатор создания    351530 non-null  object
 32  Стратегия деблокир.   289882 non-null  object
 33  НДП-материал          20 non-null      float64
 34  Номер потребности     547 non-null     object
 35  Объем дефицита        351530 non-null  object
 36  Тип даты поставки     346320 non-null  object
 37  Дата деблокирования   351530 non-null  object
dtypes: bool(1), float64(6), int64(4), object(27)
memory usage: 99.6+ MB

In [77]:
df_me5a_2022_2025.rename(columns={'﻿Заявка': 'Заявка'}, inplace=True)
df_me5a_2022_2025.rename(columns={'Заказ на поставку': 'Документ_закупки'}, inplace=True)
df_me5a_2022_2025.rename(columns={'Позиция ЗкзНаПостав': 'ЗП_Позиция'}, inplace=True)
df_me5a_2022_2025.rename(columns={'Материал': 'Материал_ВЗ'}, inplace=True)

In [78]:
sutun_listesi_2str_me5a = ["Документ_закупки","ЗП_Позиция","Заявка","Позиция заявки","Материал_ВЗ","Закуп. организация"]

In [80]:
for s3 in sutun_listesi_2str_me5a:
    # Apply the robust cleaning and conversion function
    df_me5a_2022_2025[s3] = df_me5a_2022_2025[s3].apply(temizle_ve_cevir_2_str)

In [81]:
sutun_listesi_str2float_me5a =["ЗатребованКолич","Заказанное к-во"
]

In [82]:
for s4 in sutun_listesi_str2float_me5a:
    # Apply the robust cleaning and conversion function
    df_me5a_2022_2025[s4] = df_me5a_2022_2025[s4].apply(str_to_float)

In [83]:
sutun_listesi_str2date_me5a =["Дата заявки","Дата изменения","Дата заказа","Дата поставки","Дата деблокирования"]

In [84]:
for s5 in sutun_listesi_str2date_me5a:
    # Apply the robust cleaning and conversion function
    df_me5a_2022_2025[s5] = df_me5a_2022_2025[s5].apply(temizle_ve_cevir_2date)

In [88]:
df_me5a_2022_2025.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 351530 entries, 0 to 351529
Data columns (total 39 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Год                   351530 non-null  object
 1   Заявка                351530 non-null  object
 2   Позиция заявки        351530 non-null  object
 3   Материал_ВЗ           351530 non-null  object
 4   Индикатор удаления    351530 non-null  bool
 5   Затребовал            351524 non-null  object
 6   Индик. выдачи         289876 non-null  object
 7   Дата заявки           351530 non-null  datetime64[ns]
 8   Группа закупок        351526 non-null  object
 9   Дата изменения        351530 non-null  datetime64[ns]
 10  Документ_закупки      351530 non-null  object
 11  ЗП_Позиция            351530 non-null  object
 12  Дата заказа           351530 non-null  object
 13  Долгосрочный договор  1622 non-null    float64
 14  ЗатребованКолич       351530 non-null  float64
 15  Заказанное к-во       351530 non-null  float64
 16  Единица измерения     351526 non-null  object
 17  RU Наименование       351077 non-null  object
 18  TR Наименование       343809 non-null  object
 19  Инвентарный номер     321615 non-null  object
 20  Краткий текст         351527 non-null  object
 21  Закуп. организация    351530 non-null  object
 22  Создал                351530 non-null  object
 23  ПоступлМатериала      351530 non-null  object
 24  Поступление счета     351530 non-null  object
 25  Номер проекта         333808 non-null  object
 26  Группа материалов     351526 non-null  object
 27  Дата поставки         351530 non-null  object
 28  Завод-поставщик       0 non-null       float64
 29  Вид документа         351530 non-null  object
 30  Статус обработки      351530 non-null  object
 31  Индикатор создания    351530 non-null  object
 32  Стратегия деблокир.   289882 non-null  object
 33  НДП-материал          20 non-null      float64
 34  Номер потребности     547 non-null     object
 35  Объем дефицита        351530 non-null  object
 36  Тип даты поставки     346320 non-null  object
 37  Дата деблокирования   351530 non-null  datetime64[ns]
 38  ЗП-ЗП_ПОЗ_ME5A        351530 non-null  object
dtypes: bool(1), datetime64[ns](3), float64(5), object(30)
memory usage: 102.2+ MB

In [87]:
df_me5a_2022_2025["ЗП-ЗП_ПОЗ_ME5A"] = (
    df_me5a_2022_2025["Документ_закупки"].astype(str) + "_" + df_me5a_2022_2025["ЗП_Позиция"].astype(str)
)